/*----------------------------------*\
		Buttons
\*----------------------------------*/
.btn {
    font-size: 1rem;
    display: inline-block;
    overflow: hidden;
    padding: 9px 12px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: $color-white;
    border: none;
    border-radius: 2px;
    background: $color-primary;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .24);
    @include transition(.2s ease-in-out);
    /* Hover state */
    &:hover {
        color: $color-white;
        background: darken($color-primary, 5%);
    }
    /* Active state */
    &:active {
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .24);
    }
    /* Focus state shows only on mobile */
    @media #{$small-and-down} {
        &:focus {
            color: $color-white;
            background: darken($color-primary, 5%);
        }
    }
    /* Bordered button with transparent background */
    &--bordered {
        padding: 6px 9px;
        color: $color-primary;
        border: 3px solid $color-primary;
        background: none;
    }
    /* Floating button - usually with icon inside */
    &--floating {
        line-height: 36px;
        width: 36px;
        height: 36px;
        padding: 0;
    }
	&--floating.btn--large {
		height: 56px;
		width: 56px;
		line-height: 56px;
		padding: 0;
	}
    /* Flat button - still same size, just without background */
    &--flat {
        color: $color-primary;
        background: none;
        box-shadow: none;
        /* Hover state */
        &:hover {
            color: $color-primary;
            background: $color-gray-lighter;
            box-shadow: none;
        }
        /* Active state */
        &:active {
            background: darken($color-gray-lighter, 5%);
            box-shadow: none;
        }
        /* Focus state shows only on mobile */
        @media #{$small-and-down} {
            &:focus {
                color: $color-primary;
                background: $color-gray-lighter;
                box-shadow: none;
            }
        }
    }
    /* Large button - same style as default one, just bigger */
    &--large {
        font-size: 1.4rem;
        padding: 16px 24px;
    }
    /* Button with icon inside */
    &--icon-before, &--icon-after {
        span {
            display: inline-block;
        }
        span:before {
            vertical-align: middle;
        }
    }
	&--icon-before span {
		margin-right: 10px;
	}
	&--icon-after span {
		margin-left: 10px;
	}
    /* Button for success action */
    &--success {
        background: $color-success;
        /* Hover state */
        &:hover {
            background: darken($color-success, 5%);
        }
    }
}
