/*----------------------------------*\
  	Footer
\*----------------------------------*/
.footer {
  padding: 2rem 0;
  background: $color-gray;

  a {
    text-decoration: none;
    color: $color-gray-lighter;

    &:hover {
      color: $color-white;
    }
  }
}
