/*----------------------------------*\
		Form
\*----------------------------------*/
/* Form row properties */
.form-row {
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;

  &--wide {
    width: 100%;
  }

  &--first,
  &--last {
    width: 50%;
  }

  label {
    font-size: 0.9rem;
  }
}
/* Form control properties - child of form row */
.form-control {
  font-family: inherit;
  font-size: 1rem;
  line-height: 36px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 15px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  outline: none;
  background-color: $color-white;
  background-image: none;
  @include transition(.2s ease-in-out);

  &:focus {
    border-color: $color-gray;
  }
}
/* Textarea properties */
textarea {
  max-width: 100%;
  min-height: 150px;
}
/* Checkbox properties */
input[type=checkbox] {
  outline: none;
}
