/*----------------------------------*\
  	Grid
\*----------------------------------*/
/* Grid item properties */
.grid__item {
  padding: 1rem;
	margin-bottom: 2rem;
  color: $color-gray-lighter;
  background: $color-gray;
}
