/*----------------------------------*\
  	Header
\*----------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $color-primary;

  &__logo a {
    font-size: 2rem;
    font-weight: $light;
    text-decoration: none;
    text-transform: none;
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }
}

.header nav ul {
  list-style: none;

  li a {
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;

    &:hover,
    &.active {
      color: $color-black;
    }
  }
}
