/*----------------------------------*\
    Tabs
\*----------------------------------*/
.tabs-bar {
	list-style: none;
	li {
		flex: 1;
		text-align: center;
	}
}

.tabs-content__panel {
	display: none;
	&.active {
		display: block;
	}
}
