/*----------------------------------*\
    Table
\*----------------------------------*/
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
	th {
		text-align: left;
	}
  th,
  td {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid $color-table-border;
  }

  thead {
    border-bottom: 2px solid $color-table-border;

    th {
      vertical-align: bottom;
      border-top: 0;
    }
  }

	tfoot {
		border-top: 2px solid $color-table-border;
	}
}
