/*----------------------------------*\
    Flexbox Grid
\*----------------------------------*/
/*
 TABLE OF CONTENTS
    01. Variables....................Imported via gulp and can be found in _vars.scss
    02. Utilities......................The general styles like align-center etc.
    03. Components...................Other SCSS components like _dividers.scss, _navigation.scss etc.
    04. Default Tags.................Like <body>, <h1> etc.
*/
/*
	Variables
*/
@import 'vars';
/*
	Utilities
*/
@import 'utilities';
/*
	Grid
*/
@import 'layout/grid';
/*
	Components
*/
@import 'components/header';
@import 'components/buttons';
@import 'components/form';
@import 'components/table';
@import 'components/tabs';
@import 'components/grid';
@import 'components/footer';
/*
	Default Tags
*/
html {
  font-size: 15px;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: $font-primary;
  line-height: 1.4;
  margin: 0;
  padding-top: 80px;
  color: $color-black;
  background: $color-gray-lighter;
}
/*
	Heading properties
*/
/* All headings properties */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $light;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}
/* H1, H2 size */
h1,
h2 {
  font-size: 2.4rem;
}
/* H3 size */
h3 {
  font-size: 1.6rem;
}
/* H4 size */
h4 {
  font-size: 1.4rem;
}
/* H5 size */
h5 {
  font-size: 1.2rem;
}
/* H6 size */
h6 {
  font-size: 1rem;
}
/*
	Text properties
*/
/* Paragraph */
p {
  margin: 0 0 0.8rem;
}
/* <a> tag properties */
a {
  color: $color-primary;

  &:hover {
    text-decoration: none;
    color: darken($color-primary, 10%);
  }
}
/* Preformatted text properties */
pre {
  padding: 1rem;
  white-space: nowrap;
  border: 1px solid $color-gray-light;
  background: $color-white;
}
/* Code style in preformatted text */
.code {
  &__element {
    color: $color-black;
  }

  &__attr {
    color: $color-gray;
  }

  &__attr-val {
    color: $color-primary;
  }
}
/*
	Image properties
*/
img {
  vertical-align: middle;
  border: 0;
}
