<div class="mt45 mb45">
	<h3 class="mb30">Buttons</h3>
	<button class="btn" type="button" name="button">Button</button>
	<button class="btn btn--icon-before" type="button" name="button"><span class="mdi mdi-account"></span>Button</button>
	<button class="btn btn--icon-after" type="button" name="button">Button<span class="mdi mdi-account"></span></button>
	<button class="btn btn--bordered" type="button" name="button">Button</button>
	<button class="btn btn--flat" type="button" name="button">Button</button>
	<button class="btn btn--floating mdi mdi-account" type="button" name="button"></button>
	<button class="btn btn--floating btn--large mdi mdi-account" type="button" name="button"></button>
	<button class="btn btn--large" type="button" name="button">Button</button>

</div>
