<footer class="footer mt90">
	<div class="container">
		<div class="flex flex--justify-right">
			<a href="https://www.elpy.io/" rel="nofollow" class="text-uppercase" title="Izdelava spletnih strani Elpy">Elpy.io</a>
		</div>
	</div>
</footer>
</main>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</body>

</html>
