<div class="mt45 mb45">
	<h3 class="mb30">Forms</h3>
	<div class="row">
		<div class="form-row form-row--first">
			<input type="text" class="form-control" name="first-name" value="" placeholder="First Name">
		</div>
		<div class="form-row form-row--last">
			<input type="text" class="form-control" name="last-name" value="" placeholder="Last Name">
		</div>
		<div class="form-row form-row--first">
			<input type="text" class="form-control" name="company" value="" placeholder="Company">
		</div>
		<div class="form-row form-row--last">
			<input type="text" class="form-control" name="company-id" value="" placeholder="Company ID">
		</div>
		<div class="form-row form-row--wide">
			<select class="form-control" name="country">
				<option value>Select a country</option>
				<option value="Slovenia">Slovenia</option>
				<option value="Croatia">Croatia</option>
				<option value="Austria">Austria</option>
				<option value="Germany">Germany</option>
				<option value="Italy">Italy</option>
				<option value="Switzerland">Switzerland</option>
				<option value="France">France</option>
			</select>
		</div>
		<div class="form-row form-row--first">
			<input type="text" class="form-control" name="address" value="" placeholder="Address">
		</div>
		<div class="form-row form-row--last">
			<input type="text" class="form-control" name="address-number" value="" placeholder="Address Number">
		</div>
		<div class="form-row form-row--first">
			<input type="text" class="form-control" name="Postcode" value="" placeholder="Postcode">
		</div>
		<div class="form-row form-row--first">
			<input type="text" class="form-control" name="town" value="" placeholder="Town">
		</div>
	</div>
</div>
