<section class="grid mt90" id="grid">
	<div class="container">
		<h2 class="text-center mb60">Grid</h2>
		<h3 class="mb30">Grid System</h3>
		<div class="row">
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
			<div class="col-xs-3 col-md-1">
				<div class="grid__item">.col-md-1</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-9">
				<div class="grid__item">.col-sm-6 .col-md-9</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="grid__item">.col-sm-6 .col-md-3</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="grid__item">.col-md-4</div>
			</div>
			<div class="col-md-4">
				<div class="grid__item">.col-md-4</div>
			</div>
			<div class="col-md-4">
				<div class="grid__item">.col-md-4</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="grid__item">.col-md-6</div>
			</div>
			<div class="col-md-6">
				<div class="grid__item">.col-md-6</div>
			</div>
		</div>
		<pre class="code margin0">
    	<code>
    		<span class="code__element">&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;row&quot;</span><span class="code__element">&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-1&quot;</span><span class="code__element">&gt;</span>.col-md-1<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;row&quot;</span><span class="code__element">&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-9&quot;</span><span class="code__element">&gt;</span>.col-md-9<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-3&quot;</span><span class="code__element">&gt;</span>.col-md-3<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;row&quot;</span><span class="code__element">&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-4&quot;</span><span class="code__element">&gt;</span>.col-md-4<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-4&quot;</span><span class="code__element">&gt;</span>.col-md-4<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-4&quot;</span><span class="code__element">&gt;</span>.col-md-4<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;row&quot;</span><span class="code__element">&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-6&quot;</span><span class="code__element">&gt;</span>.col-md-6<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&nbsp;&nbsp;&lt;div</span><span class="code__attr"> class=</span><span class="code__attr-val">&quot;col-md-6&quot;</span><span class="code__element">&gt;</span>.col-md-6<span class="code__element">&lt;div&gt;</span><br />
    		<span class="code__element">&lt;div&gt;</span><br />
    	</code>
    	</code>
    </pre>
	</div>
</section>
