<!-- Start of Header -->
@@include(markdown('header.html'))
<!-- End of Header -->
<!-- Start of Grid -->
@@include(markdown('grid.html'))
<!-- End of Grid -->
<!-- Start of CSS -->
<section class="mt90 mb90" id="css">
	<div class="container">
		<h2 class="text-center mb60">CSS</h2>
		<!-- Start of Buttons -->
		@@include(markdown('buttons.html'))
		<!-- End of Buttons -->
		<!-- Start of Tables -->
		@@include(markdown('table.html'))
		<!-- End of Tables -->
		<!-- Start of Forms -->
		@@include(markdown('form.html'))
		<!-- End of Forms -->
	</div>
</section>
<!-- End of CSS -->
<!-- Start of JS -->
<section class="mt90 mb90" id="js">
	<div class="container">
		<h2 class="text-center mb60">JS</h2>
		<!-- Start of Scrollspy -->
		@@include(markdown('scrollspy.html'))
		<!-- end of Scrollspy -->
		<!-- Start of Tabs -->
		@@include(markdown('tabs.html'))
		<!-- end of Tabs -->
	</div>
</section>
<!-- End of JS -->
@@include(markdown('footer.html'))
