<div class="mt45 mb45">
	<h3 class="mb30">Tables</h3>
	<table class="table">
		<thead>
			<tr>
				<th>
					Order
				</th>
				<th>
					Name
				</th>
				<th>
					Points
				</th>
			</tr>
		</thead>
		<tr>
			<td>1</td>
			<td>Joe</td>
			<td>50</td>
		</tr>
		<tr>
			<td>2</td>
			<td>John</td>
			<td>45</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Josh</td>
			<td>40</td>
		</tr>
		<tfoot>
			<tr>
				<th>
					Total
				</th>
				<td>
					&nbsp;
				</td>
				<td>
					135
				</td>
			</tr>
		</tfoot>
	</table>
</div>
