<div class="mt45 mb45">
	<h3 class="mb30">Tabs</h3>
	<ul class="tabs-bar flex margin0 padding0" data-tabs="tabs-group">
		<li><a href="#tab1" class="active">Tab 1</a></li>
		<li><a href="#tab2">Tab 2</a></li>
		<li><a href="#tab3">Tab 3</a></li>
	</ul>
	<div class="tabs-content">
		<div class="tabs-content__panel active" id="tab1">
			Tab 1 content
		</div>
		<div class="tabs-content__panel" id="tab2">
			Tab 2 content
		</div>
		<div class="tabs-content__panel" id="tab3">
			Tab 3 content
		</div>
	</div>
</div>
